<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/icons/vote-yea.png">
    <title>Politico | Admin Sign In</title>
</head>

<body>
    <div class="logo">
        <h1>
            <a href="../index.html">
                P<span id="logo-image"><img src="../assets/icons/vote-yea.svg" /></span>litico
            </a>
        </h1>

    </div>

    <div class="mobile-screen">
        <div class="header">
            <h1> Admin Sign In </h1>
        </div>

        <form class="login-form">
                <div class="input-fields">
                        <label for="name">User name
                            <input type="text" name="name">
                        </label>
                        <label for="password">Password
                            <input type="password" name="pass">
                        </label>
                    </div>
            <button class="auth-btn"><a href="#"  id="login-button">Sign in</a></button> 
        </form>
    </div>

</body>

</html>