<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/candidates.css">
    <title></title>
</head>

<body>
    <table cellspacing="0">
        <thead>
            <tr class="table-head">
                <th class="column">Profile</th>
                <th class="column">Full Name</th>
                <th class="column">Gender</th>
                <th class="column">Political Party </th>
                <th class="column">Government Office</th>
                <th class="column">Your Decision</th>


            </tr>
        </thead>

        <tbody>
            <tr class="data-head">
                <td class="data">1.<img src="../assets/images/dane.jpg" alt=""></td>
                <td class="data">Jane Dane</td>
                <td class="data">Female</td>
                <td class="data">Labours Party</td>
                <td class="data">President of The Republic</td>
                <td class="data">
                    <button id="vote">Vote</button>
                    <button id="unvote">Unvote</button>
                </td>


            </tr>
            <tr class="data-head">
                <td class="data">2.<img src="../assets/images/alexis.jpg" alt=""></td>
                <td class="data"> John Alexis</td>
                <td class="data">Male</td>
                <td class="data">Students Party</td>
                <td class="data">General State Auditor</td>
                <td class="data">
                    <button id="vote">Vote</button>
                    <button id="unvote">Unvote</button>
                </td>
            </tr>
            <tr class="data-head">
                <td class="data">3.<img src="../assets/images/moore.jpg" alt=""></td>
                <td class="data">Peter Moore</td>
                <td class="data">Male</td>
                <td class="data"> People's Party</td>
                <td class="data">General State Prosecutor</td>
                <td class="data">
                    <button id="vote">Vote</button>
                    <button id="unvote">Unvote</button>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>