<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/icons/vote-yea.png">
    <link rel="stylesheet" href="../css/contact.css">
    <title> Politico | Contact Us </title>
</head>

<body>

    <nav class="nav-container">
        <header class="nav-header">
            <div class="navbar">
                <div class="navbar-image">
                    <h1>
                        <a href="../index.html">
                            P<span id="logo-image"><img src="../assets/icons/vote-yea.svg" /></span>litico
                        </a>
                    </h1>

                </div>

                <div class="list-container">
                    <ul class="item-list">
                        <li class="navbar-item"><a href="./home.html">Home</a></li>
                        <li class="navbar-item"><a href="./about.html">About</a></li>
                        <li class="navbar-item"><a href="./news.html">News</a></li>
                        <li class="navbar-item"><a href="./gov-offices.html">Government Offices</a></li>
                        <li class="navbar-item"><a href="./contact.html">Contact Us</a></li>
                        <li class="navbar-item"><a href="./profile.html"> My Profile</a></li>
                    </ul>
                </div>

            </div>
        </header>
    </nav>



    <div class="content-container">
        <p>We would love to hear from you </p>

        <form action="">
            <div class="candidate-info">
                <label for="canditate-name">Full Name:</label>
                <input type="text" name="name" id="">
            </div>

            <div class="candidate-info">
                <label for="party-name">Your Email:</label>
                <input type="email" id="">
            </div>


            <div class="candidate-info">
                <label for="party-name">Subject:</label>
                <textarea name="" id="" cols="4" rows="5"></textarea>
            </div>
            <button type="submit" role="button">Send</button>
        </form>

    </div>
    <footer>
        <p> Politico &copy; 2018. All Rights Reserved</p>
    </footer>
</body>

</html>