<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/create-office.css">
    <title></title>
</head>

<body>
    <div class="main-container">

        <form action="" method="POST">
            <div class="data-input">
                <label for="name">Office Name</label>
                <input type="text" placeholder="">
            </div>


            <div class="data-input">
                <label for="name">Type</label>
                <input type="text" placeholder="Federal, Legislative, ...">
            </div>

            <button type="submit">Create</button>
        </form>
    </div>
</body>

</html>