<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/delete-party.css">
    <title></title>
</head>

<body>
    <table cellspacing="0">
        <thead>
            <tr class="table-head">
                <th class="column">Party Name</th>
                <th class="column">Party Flag</th>
                <th class="column">Year Founded</th>
                <th class="column">Description</th>
                <th class="column">Number of Members</th>
            </tr>
        </thead>

        <tbody>
            <tr class="data-head">
                <td class="table-data">Labours Party</td>
                <td class="table-data"><img src="#" alt=""></td>
                <td class="table-data">2009</td>
                <td class="table-data">2009</td>
                <td class="table-data">300</td>
            </tr>
            <tr class="data-head">
                <td class="table-data">Drivers Party</td>
                <td class="table-data"><img src="#" alt=""></td>
                <td class="table-data">2010</td>
                <td class="table-data">2010</td>
                <td class="table-data">300</td>
            </tr>

            <tr class="data-head">
                <td class="table-data">Students Party</td>
                <td class="table-data"><img src="#" alt=""></td>
                <td class="table-data">2001</td>
                <td class="table-data">2001</td>
                <td class="table-data">400</td>
            </tr>

            <tr class="data-head">
                <td class="table-data">Nurser Party</td>
                <td class="table-data"><img src="#" alt=""></td>
                <td class="table-data">2011</td>
                <td class="table-data">2011</td>
                <td class="data-head"> 400</td>
            </tr>
            <tr class="data-head">
                <td class="table-data">Students Party</td>
                <td class="table-data"><img src="#" alt=""></td>
                <td class="table-data">2001</td>
                <td class="table-data">2001</td>
                <td class="table-data">400</td>
            </tr>

            <tr class="data-head">
                <td class="table-data">Nurser Party</td>
                <td class="table-data"><img src="#" alt=""></td>
                <td class="table-data">2011</td>
                <td class="table-data">2011</td>
                <td class="data-head"> 400</td>
            </tr>
            <tr class="data-head">
                <td class="table-data">Nurser Party</td>
                <td class="table-data"><img src="#" alt=""></td>
                <td class="table-data">2011</td>
                <td class="table-data">2011</td>
                <td class="data-head"> 400</td>
            </tr>
            <tr class="data-head">
                <td class="table-data">Students Party</td>
                <td class="table-data"><img src="#" alt=""></td>
                <td class="table-data">2001</td>
                <td class="table-data">2001</td>
                <td class="table-data">400</td>
            </tr>

            <tr class="data-head">
                <td class="table-data">Nurser Party</td>
                <td class="table-data"><img src="#" alt=""></td>
                <td class="table-data">2011</td>
                <td class="table-data">2011</td>
                <td class="data-head"> 400</td>
            </tr>
        </tbody>
    </table>
    <div class="edit-buttons">

        <button type="submit" role="button">Cancel</button>
        <button type="submit" role="button">Delete</button>
    </div>
    <script src="../javascript/admin-dashboard.js"></script>
</body>

</html>