<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="shortcut icon" type="image/x-icon" href="../assets/icons/vote-yea.png">
    <title>Politico | Reset Password</title>
</head>

<body>

    <div class="logo">
        <a href="../index.html">
            <h1>
                P<span id="logo-image"><img src="../assets/icons/vote-yea.svg" /></span>litico
            </h1>
        </a>
    </div>

    <div class="mobile-screen">
        <div class="header">
            <h1> Reset Password </h1>
        </div>

        <form id="login-form">
            <input type="text" name="name" placeholder="Full name">
            <input type="password" name="pass" placeholder="Password">
            <a href="#" class="auth-btn" id="login-button">Reset Password</a>
        </form>
    </div>

</body>

</html>