body {
    padding: 0;
    margin: 0;

}


@media(min-width: 992px) {

    table {
        height: 500px;
        margin: 2% 0% 0% 5%;
        width: 80%;
        padding: 1px;
        overflow-y: hidden;
        border:  1px solid rgba(0,0,0,0.25);
        border-radius: 12px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);


    }

    .table-head {
        background: rgba(10, 10, 10);
        color: #fff;
    }

    .table-head th {
        text-align: left;
        padding: 20px;
        font-family: Ubuntu, sans-serif;
    }

    .data-head td {
        padding-left: 10px;
        font-family: Ubuntu, sans-serif;
        color: #0a0a0a;
    }

    .data-head {
        padding:0;
        color: #fff;
    }

    tr.data-head:hover {
        z-index: 1;
        -webkit-box-shadow: 0px 2px 4px #0a0a0a;
        -moz-box-shadow: 0px 2px 4px #0a0a0a;
        box-shadow: 0px 2px 4px #0a0a0a;
        background-color: #233df7;
    }


    .data-head img{
        border: 2px solid #0a0a0a;
        margin-left: 10px;
        width: 100px;
        height: 100px;
        margin-bottom: -40px;
        border-radius: 50%;
    }

    .data button {
        font-family: Ubuntu, sans-serif;
        font-size: 19px; 
        margin: 0 10px 0 12px;
        height: 30px; 
        border-radius: 9px;
        border: 1px solid black;
        cursor: pointer;
    }

    #vote{
        background: green;
        color: white;
        padding: 0 18px 0  18px;
    }

    #unvote{
        background: rgb(255, 60, 0);
        color: black;
    }
}
