/* dashboard styling */

@media(min-width: 992px){
    
    body{
        margin:0;
        padding: 0;
    }

    a {
        text-decoration: none;
    }

    title {
        font-family: Ubuntu,sans-serif
    }

    .nav-container {
        height: 120px;
        background-color: rgba(10,10,10);
        position: sticky;
        width: 100%;
        top: 0;    
    
    }

    .navbar {
        display: flex;
        height: 120px;
    }
    
    .navbar-image {
        width: 200px;
        margin: 25px 0 10px 10px;
    }
    
    .navbar-image h1 {
        text-align: center;
        font-family: Ubuntu,sans-serif;
        border: 2px blue solid;
        padding: 0 0 0 15px;
        width: 72%;
        height: 40px;
        margin: 20px 0 0 15px;
        border-radius: 4px;
        background-color: rgba(35, 61, 247, .7);
        -ms-transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    
    }
    
    .navbar-image h1 a{
        color: black;
    }
    
    
    .item-list li {
        font-family: Ubuntu,sans-serif;
        display: inline;
        font-size: 18px;
        padding: 5px;
    }

    .item-list a {
        color: #FFF;
    }
    
    
    .item-list li:hover{
        font-size: 16px;
        color: #060606;
        background-color: rgba(35, 61, 247); 
        height: 50px; 
        width: 50px;
        border-radius: 300px;
        vertical-align: middle;
        transition: all 1s ease;    
    }
    
    .list-container {
        margin-top: 30px;
        margin-left: 38%;
    }
    
    #logo-image img {
        width: 25px;
        height: 15px;
    }

    .content-container {
        margin: 70px 0 0 70px;
    }

    .content-container  h3{
        font-family: Ubuntu, sans-serif; 
        text-align: center;
    }

    .home-list li {
        list-style-type: none;
    }

    .home-list img{
        width:300px;
        border-radius: 15px; 
    }

    .home-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap:5;
    }

    footer {
        font-family: Ubuntu, sans-serif;
        color: #fff;
        bottom: 0;
        position: fixed;
        width: 100%;
        text-align: center;
        background: rgb(35, 61, 247); 
        padding: 8px 0 4px 0;
    }
}

