/* dashboard styling */

@media(min-width: 992px) {


    body {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
    }

    input[type="checkbox"] {
        display: none;
    }

    title {
        font-family: Ubuntu, sans-serif
    }

    span.logo-icon {
        font-size: 16px;
        left: 0;
        right: 0;
    }

    .nav-container {
        height: 120px;
        background-color: rgba(10, 10, 10);
        position: sticky;
        width: 100%;
        top: 0;

    }

    .navbar {
        display: flex;
        height: 120px;
    }

    .navbar-image {
        width: 200px;
        margin: 25px 0 10px 10px;
    }

    .navbar-image h1 {
        text-align: center;
        font-family: Ubuntu, sans-serif;
        border: 2px blue solid;
        padding: 0 0 0 15px;
        width: 72%;
        height: 40px;
        margin: 20px 0 0 15px;
        border-radius: 4px;
        background-color: rgba(35, 61, 247, .7);
        -ms-transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);

    }

    .navbar-image h1 a {
        color: black;
    }


    .item-list li {
        font-family: Ubuntu, sans-serif;
        display: inline;
        font-size: 18px;
        padding: 5px;
    }

    .item-list a {
        color: #FFF;
    }


    .item-list li:hover {
        font-size: 16px;
        color: #060606;
        background-color: rgba(35, 61, 247);
        height: 50px;
        width: 50px;
        border-radius: 300px;
        vertical-align: middle;
        transition: all 1s ease;
    }

    .list-container {
        margin-top: 30px;
        margin-left: 38%;
    }

    #logo-image img {
        width: 25px;
        height: 15px;
    }

    .content-container {
        position: absolute;
        left: 14%;
        top: 30%;
    }


    .content-container h3 {
        font-family: Ubuntu, sans-serif;
        text-align: center;
    }

    .home-list li {
        list-style-type: none;
    }

    .home-list img {
        width: 300px;
        border-radius: 15px;
    }

    .home-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
    }

    footer {
        font-family: Ubuntu, sans-serif;
        color: #fff;
        bottom: 0;
        position: fixed;
        width: 100%;
        text-align: center;
        background: rgb(35, 61, 247);
        padding: 8px 0 4px 0;
    }
}


@media(max-width: 600px) {

    body {
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
    }

    span.logo-icon {
        font-size: 16px;
        left: 0;
        right: 0;
    }
    .nav-container {
        height: 120px;
        background-color: rgba(10, 10, 10);
        position: sticky;
        width: 100%;
        top: 0;

    }

    .navbar {
        display: flex;
        height: 120px;
        flex-direction: row;
    }

    .navbar-image {
        width: 30%;
        margin: 25px 0 10px 10px;
    }

    .navbar-image h1 {
        text-align: center;
        font-family: Ubuntu, sans-serif;
        border: 2px blue solid;
        padding: 0 0 0 15px;
        width: 80%; 
        margin: 20px 0 0 15px;
        border-radius: 4px;
        background-color: rgba(35, 61, 247, .7);
        -ms-transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);

    }

    .navbar-image h1 a {
        color: black;
    }

    #menuToggler {
        display: block;
        position: relative;
        top: 30px;
        left: 60%;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggler input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }

    #menuToggler span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    #menuToggler span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggler span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }


    #menuToggler input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    #menuToggler input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }


    #menuToggler input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }


    #menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menu li {
        padding: 10px 0;
        font-size: 22px;
    }

    #menuToggler input:checked~ul {
        transform: none;
    }

}