/* dashboard styling */

@media(min-width: 992px){


    body {
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }
    
    a {
        text-decoration: none;
    }

    title {
        font-family: Ubuntu,sans-serif
    }
    .nav-container {
        height: 120px;
        background-color: rgba(10,10,10);
        position: sticky;
        width: 100%;
        top: 0;    
    }

    .navbar {
        display: flex;
        height: 120px;
    }
    
    .navbar-image {
        width: 15%;
        margin: 25px 0 10px 10px;
    }
    
    .navbar-image h1 {
        text-align: center;
        font-family: Ubuntu,sans-serif;
        border: 2px blue solid;
        padding: 0 0 0 15px;
        width: 72%;
        height: 40px;
        margin: 20px 0 0 15px;
        border-radius: 4px;
        background-color: rgba(35, 61, 247, .7);
        -ms-transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    }
    
    .navbar-image h1 a{
        color: black;
    }
    
    
    .item-list li {
        font-family: Ubuntu,sans-serif;
        display: inline;
        font-size: 18px;
        padding: 5px;
    }

    .item-list a {
        color: #FFF;
    }
    
    
    .item-list li:hover{
        font-size: 16px;
        color: #060606;
        background-color: rgba(35, 61, 247); 
        height: 50px; 
        width: 50px;
        border-radius: 300px;
        vertical-align: middle;
        transition: all 1s ease;    
    }
    
    .list-container {
        margin-top: 30px;
        margin-left: 38%;
    }
    
    #logo-image img {
        width: 25px;
        height: 15px;
    }

    .main-container span{
        margin: 30px 1px 0 1px;
    }
    .main-container {
        /* border: 2px green dashed; */
        width: 99.8%;
        align-content: center;
        height: 1500px;
        padding:  0 30 40px 70px;
    
      
    }

    .main-container p {
        font-family: Ubuntu, sans-serif;
        word-wrap: break-word;
        margin: 3% 2% 0 2%; 
    }
    .main-container span{
        font-weight: bold;
        font-family: Ubuntu, sans-serif;
    }

    button {
        font-size: 19px;
        cursor: pointer;
        font-family: Ubuntu, sans-serif;
        border: 1px solid rgba(10, 10, 10); 
        border-radius: 5px;
        color: #fff;
        padding: 6px;
    }

    .controlls {
        margin: 3% 40% 0 30%;
        padding: 6px 6px 6px 6px;
    }

    .controlls button {
        font-size: 20px;
    }

    .controlls #parties-button{
        padding: 0 20px 0 20px;
        margin-left: 49px;
        margin-right: 15px;
        background: rgb(10, 10, 10);
    }

    .controlls #candidates-button{
        padding: 0 20px 0 20px;
        background: rgb(10, 10, 10);
    }

    #parties-info {
        margin: 30px 41px 0 23px;
        height: 500px;
    }

    #candidates-info {
        width: 650px;
        height: 400px;
        padding: 0 0px 0 0;
    }


    footer {
        font-family: Ubuntu, sans-serif;
        color: #fff;
        bottom: 0;
        position: fixed;
        width: 100%;
        text-align: center;
        background: rgb(35, 61, 247); 
        padding: 8px 0 4px 0;
    }
}

