/* dashboard styling */

@media(min-width: 992px){
    
    body{
        margin:0;
        padding: 0;
        height: initial;
    }

    a {
        text-decoration: none;
    }

    title {
        font-family: Ubuntu,sans-serif
    }

    .nav-container {
        height: 120px;
        background-color: rgba(10,10,10);
        position: sticky;
        width: 100%;
        top: 0;    
    
    }

    .navbar {
        display: flex;
        height: 120px;
    }
    
    .navbar-image {
        width: 200px;
        margin: 25px 0 10px 10px;
    }
    
    .navbar-image h1 {
        text-align: center;
        font-family: Ubuntu,sans-serif;
        border: 2px blue solid;
        padding: 0 0 0 15px;
        width: 72%;
        height: 40px;
        margin: 20px 0 0 15px;
        border-radius: 4px;
        background-color: rgba(35, 61, 247, .7);
        -ms-transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    
    }
    
    .navbar-image h1 a{
        color: black;
    }
    
    
    .item-list li {
        font-family: Ubuntu,sans-serif;
        display: inline;
        font-size: 18px;
        padding: 5px;
    }

    .item-list a {
        color: #FFF;
    }
    
    
    .item-list li:hover{
        font-size: 16px;
        color: #060606;
        background-color: rgba(35, 61, 247); 
        height: 50px; 
        width: 50px;
        border-radius: 300px;
        vertical-align: middle;
        transition: all 1s ease;    
    }
    
    .list-container {
        margin-top: 30px;
        margin-left: 38%;
    }
    
    #logo-image img {
        width: 25px;
        height: 15px;
    }


    .content-container p {
        font-family: Ubuntu, sans-serif; 
        text-align: center;
    }

    .content-container {
        
        height: 1500px;
        padding:  0 30 40px 70px;

    }

    table {
        margin: 2% 0% 0% 4%;
        height: 500px;
        width: 80%;
        padding: 3px;
        overflow-y: hidden;
        border:  1px solid rgba(0,0,0,0.25);
        border-radius: 14px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }


    .table-head {
        background: rgba(10, 10, 10, .2);
    }

    .table-head th {
        text-align: left;
        padding: 20px;
        font-family: Ubuntu, sans-serif;
    }

    .data-head td {
        padding-left: 10px;
        border-bottom: 2px solid green;
        font-family: Ubuntu, sans-serif;
    }

    .data-head {
        background: #2980B9;
        padding: 0 0 0 0;
    }


    .data-head>td:nth-child(odd) {
        background: #85C1E9;
    }

    .data-head img{
        border: 2px solid green;
        margin-left: 10px;
        width: 100px;
        height: 100px;
        margin-bottom: -40px;
        border-radius: 50%;
    }

    .data button {
        font-family: Ubuntu, sans-serif;
        font-size: 19px; 
        margin: 0 10px 0 12px;
        height: 30px; 
        border-radius: 9px;
        border: 1px solid black;
        cursor: pointer;
    }

    #vote{
        background: green;
        color: white;
        padding: 0 18px 0  18px;
    }

    #unvote{
        background: rgb(255, 60, 0);
        color: black;
    }

    footer {
        font-family: Ubuntu, sans-serif;
        color: #fff;
        bottom: 0;
        position: fixed;
        width: 100%;
        text-align: center;
        background: rgb(35, 61, 247); 
        padding: 3px 0 4px 0;
    }
}

