/* dashboard styling */

@media(min-width: 992px){
    
    body{
        margin:0;
        padding: 0;
        height: initial;
    }

    a {
        text-decoration: none;
    }

    title {
        font-family: Ubuntu,sans-serif
    }

    .nav-container {
        height: 120px;
        background-color: rgba(10,10,10);
        position: sticky;
        width: 100%;
        top: 0;    
    
    }

    .navbar {
        display: flex;
        height: 120px;
    }
    
    .navbar-image {
        width: 200px;
        margin: 25px 0 10px 10px;
    }
    
    .navbar-image h1 {
        text-align: center;
        font-family: Ubuntu,sans-serif;
        border: 2px blue solid;
        padding: 0 0 0 15px;
        width: 72%;
        height: 40px;
        margin: 20px 0 0 15px;
        border-radius: 4px;
        background-color: rgba(35, 61, 247, .7);
        -ms-transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        transform: rotate(-20deg);
    
    }
    
    .navbar-image h1 a{
        color: black;
    }
    
    
    .item-list li {
        font-family: Ubuntu,sans-serif;
        display: inline;
        font-size: 18px;
        padding: 5px;
    }

    .item-list a {
        color: #FFF;
    }
    
    
    .item-list li:hover{
        font-size: 16px;
        color: #060606;
        background-color: rgba(35, 61, 247); 
        height: 50px; 
        width: 50px;
        border-radius: 300px;
        vertical-align: middle;
        transition: all 1s ease;    
    }
    
    .list-container {
        margin-top: 30px;
        margin-left: 38%;
    }
    
    #logo-image img {
        width: 25px;
        height: 15px;
    }


    .content-container p {
        font-family: Ubuntu, sans-serif; 
        text-align: center;
    }

    .content-container {
        height: 1500px;
        padding:  0 30 40px 70px;
    }
/* User Profile */
    .profile-card img{
        border-radius: 200px;
        height: 270px;
        width: 240px;
        margin-left: 10%;
        padding: 10px;

    }
    .profile-card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 26%;
        margin-left: 8%;
        margin-top: 8%;
      }
      .profile-card h3{
          text-align: center; 
          font-family: Ubuntu, sans-serif;
      }
      
      .profile-card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      
      .profile-details{
        padding: 2px 16px;
        list-style-type: none;
        color: #fff;
        font-family: Ubuntu, sans-serif;
        background: black;
      }

      /* Candidates */
      .vote-history{
        display: flex;
        /* grid-template-columns: repeat(3, 1fr); */
        flex-direction: row;
        margin-top: -60%;
      }
      
      .candidate-card img{
        border-radius: 200px;
        height: 200px;
        width: 180px;
        margin-left: 5%;
        padding: 10px;

    }
    .candidate-card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 40%;
        margin: 10px;
      }
      
      .candidate-card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      
      .candidate-details{
        padding: 2px;
        list-style-type: none;
        font-family: Ubuntu, sans-serif;
        background: rgb(95, 248, 95);
      }

    footer {
        font-family: Ubuntu, sans-serif;
        color: #fff;
        bottom: 0;
        position: fixed;
        width: 100%;
        text-align: center;
        background: rgb(35, 61, 247); 
        padding: 3px 0 4px 0;
    }
}

